<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Calculadora</title>
</head>
<body>
  <h1>Calculadora</h1>
  <form [formGroup]="calculadora" (ngSubmit)="onSubmit()">
    
    <p>Nombre: <input type="text" formControlName="Name" name="nombre"></p>
    
    <p class="sexo">Sexo:
      <input type="radio" name="hm" value="h" formControlName="hombre"> Hombre
      <input type="radio" name="hm" value="m" formControlName="mujer"> Mujer
    </p>

    <p>Peso:</p>
    <button (click)="masPeso()" type="button">+</button>
    <input  [(ngModel)]="peso"type="number" formControlName="peso" id="peso">
    <button (click)="menosPeso()"type="button">-</button>

    <p>Altura:</p>
    <button (click)="masAltura()"type="button" >+</button>
    <input  [(ngModel)]="altura" type="number" formControlName="altura" id="altura">
    <button (click)="menosAltura()"type="button">-</button>
    <p>
      <button type="reset" value="Borrar">Borrar</button>
      <button (click)="onSubmit()" type="submit">CALCULAR</button>
      <button (click)="ejecutarhola()" type="submit">Historial de peso y altura</button>
    
    </p>
  </form>

  Resultado:
  <input [(ngModel)]="resultado" type="number">
 
</body>
</html>
